.statistics-section {
  margin-top: 90px;
  max-width: 1400px;
  margin-inline: auto;
  border-radius: 40px;
}

.statistics-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.statistic-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  padding: 0 30px;
  width: 290px;
  height: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.statistic-box::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid rgba(7, 7, 7, 0.7);
  z-index: 1;
}

.blue-stat {
  background-color: #d3eafe;
}

.yellow-stat {
  background-color: #fffacb;
}

.pink-stat {
  background-color: #ffdee9;
}

.statistic-box:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.statistic-number {
  margin-top: 30px;
  font-size: 3.5em;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.statistic-label {
  font-size: 1.2em;
  color: #555;
  text-transform: capitalize;
}

.statistic-box .divider {
  border: none;
  margin-bottom: 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.statistic-description {
  font-size: 0.95em;
  color: #666;
  line-height: 1.6;
}

.statistic-box:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  animation: bounceAndPop 1s infinite alternate forwards ease-in-out;
  cursor: pointer;
}

@keyframes bounceAndPop {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-8px) scale(1.015);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.design-philosophy {
  margin-top: 90px;
  max-width: 1400px;
  margin-inline: auto;
  border-radius: 40px;
}

.philosophy-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 330px;
}

.image-box {
  width: 50%;
  height: 100%;
  border-radius: 12px;
  transition: width 0.5s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-box img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  border-radius: 12px;
}

.image-box.left {
  border: 7px solid #85d4ff;
  outline: 2px solid black;
}

.image-box.right {
  outline: 2px solid black;
  border: 7px solid #eaa7d4;
}

/* Hover LEFT */
.image-box.left:hover {
  width: 300%;
}
.image-box.left:hover .caption-box.b1 {
  opacity: 1;
  max-width: 550px;
  line-height: 1.5;
  background-color: #ade0ff;
}
.caption-box.b1 {
  bottom: 12px;
  left: 12px;
}
/* Hover RIGHT */
.image-box.right:hover {
  width: 300%;
}
.image-box.right:hover .caption-box.b2 {
  opacity: 1;
  max-width: 550px;
  line-height: 1.5;
  background-color: #f8c5f8;
}
.caption-box.b2 {
  bottom: 12px;
  right: 12px;
}
.caption-box {
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  padding: 12px 22px;
  margin-top: 12px;
  border-radius: 16px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.caption-box .circle {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #444;
}

.slider-section {
  margin-top: 90px;
  max-width: 1400px;
  margin-inline: auto;
  border-radius: 40px;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 350px;
  padding: 0 15%;
  box-sizing: border-box;
  gap: 120px;
}

.slide {
  position: absolute;
  padding: 5px 10px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 15px;
  width: 650px;
  height: 300px;
  overflow: hidden;

  left: 50%;
  transform: translateX(-50%) scale(0.8);
  opacity: 0;
  z-index: 0;

  transition: all 0.6s ease-in-out;
}

.slide-active {
  background-color: #add8e6;
  transform: translateX(-50%) scale(1);
  opacity: 1;
  z-index: 2;
}

.slide-prev {
  background-color: #fffacd;
  transform: translateX(calc(-100% - 300px)) scale(0.8);
  opacity: 0.4;
  z-index: 1;
}

.slide-next {
  background-color: #ffc0cb;
  transform: translateX(calc(0% + 300px)) scale(0.8);
  opacity: 0.4;
  z-index: 1;
}

.slide p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.profile img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}

.profile h3 {
  margin: 5px 0;
  color: #333;
}

.profile p {
  margin: 0;
  color: #666;
  font-size: 0.9em;
}

.slider-navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.nav-button {
  background-color: #fff;
  border: 1px solid #ddd;
  outline: 2px solid black;
  padding: 20px 20px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.nav-button:hover {
  background-color: #e9e9e9;
  transform: translateY(-2px);
}

.nav-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Contact Section Style */
.contact-section {
  text-align: center;
  padding: 80px 20px;
  margin-bottom: -80px;
}

.contact-section h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0.5rem 0;
}

.contact-section .highlight {
  background-color: #ffcef2;
  padding: 0 10px;
}

.contact-section .btn {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  border-radius: 999px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contact-section .btn:hover {
  background-color: #333;
}

.social-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 1rem;
}

.social-links a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.social-links a span {
  font-size: 1.1rem;
}
.design-section {
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 1400px;
  margin-inline: auto;
  border-radius: 40px;
}

.design-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1400px;
  margin: auto;
}

.image-group {
  margin-top: 100px;
  display: flex;
  gap: 40px;
}

.img {
  background-color: #e5bfd8;
  outline: 1.5px solid black;
  width: 140px;
  border-radius: 16px;
  box-shadow: 0 0 0 4.5px #eaa7d4, 0 0 0 5.5px black;
}

.tilt-left {
  margin-top: 20px;
  width: 100px;
  height: 90px;
  transform: rotate(-5deg);
}

.tilt-more-left {
  width: 160px;
  height: 150px;
  transform: rotate(8deg);
}

.tilt-right {
  margin-top: 20px;
  width: 100px;
  height: 90px;
  transform: rotate(5deg);
}

.tilt-more-right {
  width: 160px;
  height: 150px;
  transform: rotate(-8deg);
}

.text-center {
  text-align: center;
  max-width: 700px;
}

.text-center h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0.3rem 0;
}

.text-center h2 span {
  background: #a7dcff;
  padding: 0 12px;
  display: inline-block;
}

.arrow img {
  width: 70px;
}

.desc {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

.facts-wrapper {
  margin-top: 20px;
  margin-bottom: 70px;
  max-width: 1400px;
  margin-inline: auto;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.facts-column {
  height: 450px;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fact-box {
  outline: 2px solid black;
  position: relative;
  background-color: #ffe889;
  gap: 30px;
  height: 100px;
  padding: 1px 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}

.fact-box .number {
  font-weight: 600;
  font-size: 1.5rem;
  margin-right: 20px;
}

.fact-box .line {
  flex: 0 0 40px;
  height: 2px;
  background-color: #000;
  margin-right: 20px;
}

.fact-box .fact-text {
  flex: 1;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.fact-box .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Hover effect */
.fact-box:hover {
  transform: scale(1.02);
  background-color: #a5dcff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.fact-box:hover .fact-text {
  transform: translateX(-25px);
}
.fact-box:hover .line {
  flex: 0 0 25px;
}
/* Image block */
.facts-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #f8c5f8;
  outline: 2px solid black;
  width: 390px;
  height: 440px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  background-image: url("../assets/img/1.jpg");
  background-size: 200%;
  background-position: center 20%;
}

@media (max-width: 768px) {
  .statistics-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .statistics-section {
    margin-top: 70px;
  }
  .my-experience .section-title img,
  .statistics-section .section-title img {
    width: 70px !important;
  }
  .statistic-box {
    width: 76%;
  }
  .philosophy-container {
    flex-direction: column;
    margin-bottom: 80px;
  }
  /* Hover LEFT */
  .image-box.left:hover {
    width: 75%;
  }

  .image-box.left:hover + .right {
    width: 50%;
  }

  /* Hover RIGHT */
  .image-box.right:hover {
    width: 75%;
  }
  .design-philosophy {
    margin-top: 0px;
  }
  .design-philosophy .section-title img {
    width: 70px;
  }
  .caption-box {
    padding: 0px 10px;
    font-size: 15px;
  }
  .slide {
    margin-bottom: -19px;
    width: 320px;
    height: 300px;
    font-size: 12px;
  }
  .slide-prev {
    transform: translateX(calc(-10% - 300px)) scale(0.8);
    opacity: 0.4;
    z-index: 1;
  }

  .slide-next {
    transform: translateX(calc(-90% + 300px)) scale(0.8);
    opacity: 0.4;
    z-index: 1;
  }
  .slider-section {
    margin-top: 40px;
  }
  .slider-section .section-title img {
    width: 70px;
  }
  .contact-section h2 {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0.5rem 0;
  }
  .image-group {
    display: none;
  }
  .text-center h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  .facts-wrapper {
    width: 340px;
    flex-direction: column;
    align-items: center;
  }
  .facts-column {
    height: 450px;
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .fact-box {
    gap: 0px;
    height: 100px;
    padding: 1px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .fact-box .number {
    margin-top: 5px;
    font-weight: 600;
    font-size: 25px;
  }

  .fact-box .line {
    flex: 0 0 1px;
    width: 230px;
    background-color: #000;
  }

  .fact-box .fact-text {
    flex: 1;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  /* Hover effect */
  .fact-box:hover {
    transform: scale(1.04);
    background-color: #a5dcff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .fact-box:hover .fact-text {
    transform: translateX(20px);
  }
  .fact-box:hover .line {
    flex: 0 0 1px;
    width: 300px;
  }
  .facts-image {
    width: 330px;
    height: 380px;
    margin-bottom: 40px;
  }
  .abit {
    margin-top: -20px !important;
  }
}

/* ---------------------------------------------------------- */
.intro-wp {
  margin-top: 120px;
  max-width: 1400px;
  margin-inline: auto;
  padding: 70px 0 0;
  display: flex;
  justify-content: center;
}

.intro-content {
  max-width: 592px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avaiable {
  display: flex;
  align-items: center;
  gap: 8px;
}

.intro-name {
  font-weight: 600;
  font-size: 60px;
  margin: 16px 0 8px;
}

.intro-name span {
  display: inline-block;
  background-color: #ffe68c;
}

.intro-desc {
  margin: 0 0 40px;
  text-align: center;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #ffc9f0;
  width: 90%;
}

@media (max-width: 768px) {
  .intro-wp {
    padding: 0 0 70px;
  }
}

.statistics-container {
  gap: 24px;
}

.statistic-box {
  border: 1px solid #030303;
  flex: 1;
  padding: 0 24px;
  justify-content: flex-start;
}

.statistic-number {
  margin: 24px 0 0;
}

.statistic-label {
  color: #030303;
  margin: 0;
}

.statistic-box .divider {
  border-color: #030303;
}

.statistic-description {
  margin-top: auto;
  font-size: 20px;
  color: #030303;
}

@media (max-width: 768px) {
  .statistic-box {
    width: auto;
  }
}

.experience-detail {
  margin: 0;
}

.slide {
  border: 1px solid #030303;
}
